* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Helvetica;
    font-size: 15px;
    font-weight: normal;
}

window#waybar {
    background-color: rgba(0,0,0,0.2);
    border-bottom: 0px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
}


#clock {
    background-color: rgba(0,0,0,0);
    color: white;
    margin-right: 20px;
}

#battery {
    background-color: rgba(0,0,0,0);
    color: white;
    margin-right: 10px;
}

#battery.good {
    color: green;
}

#battery.enough {
    color: yellow;
}

#battery.warning {
    color: red;
}

@keyframes flicker {
    0% {opacity: 1;}
    100% {opacity: 0.1;}
}

#battery.critical {
    color: red;
    animation: flicker 0.5s infinite;
    animation-direction: alternate;
}


#network {
    background-color: rgba(0,0,0,0);
    color: white;
    margin-right: 10px;
}

#bluetooth {
    background-color: rgba(0,0,0,0);
    color: white;
    margin-right: 10px;
}
